<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  {% endblock %}
</head>

<body>
  <div class="flex flex-col h-screen w-full">
    <header class="flex h-14 w-full items-center border-b px-4 md:px-6">
      <nav class="flex w-full items-center">
        <a class="font-bold text-lg md:text-xl mr-4 md:mr-6 text-center" href="/"> Home </a>
        <a class="text-sm md:text-base mr-4 md:mr-6 text-center" href="/demo1"> Demo 1 </a>
        <a class="text-sm md:text-base mr-4 md:mr-6 text-center" href="/demo2"> Demo 2 </a>
        <a class="text-sm md:text-base mr-4 md:mr-6 text-center" href="/demo3"> Demo 3 </a>
      </nav>
    </header>
    <main class="flex-1 w-full items-center justify-center py-6">
      {% block content %}{% endblock %}
    </main>
  </div>
  {% block script %}{% endblock %}
</body>

</html>
