{% extends "base.jinja" %}

{% block title %}Demo 3{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-3xl font-bold tracking-tighter">Snail Shop Demo 3</h1>
  <p class="text-center max-w-[600px]"> This snail is shy and is hiding its admin role </p>
</div>
{% endblock %}
