{% extends "base.jinja" %}

{% block title %}Demo 2{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-3xl font-bold tracking-tighter">Snail Shop Demo 2</h1>
  <p class="text-center max-w-[600px]"> So many snails, this is disgusting!!! </p>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='/js/demo2.js') }}"></script>
{% endblock %}
