{% extends "base.jinja" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center space-y-4">
  <h1 class="text-3xl font-bold tracking-tighter">Snail Shop</h1>
  <p class="text-center max-w-[600px]"> Welcome to the Snail Shop. Click one of the links above to view a
    demo of our products. </p>
</div>
{% endblock %}
